<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
    <script>// Clear token only on full reload, not on navigation
        if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
            localStorage.removeItem('jwtToken');
        }</script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>


    <button id="customer">Customer</button>
    <button id="Store">Stores</button>
    <button id="Inventory">Inventory</button>
    <script>

        document.getElementById('customer').addEventListener('click', function () {

            window.location.href = '/View/customer.html';
        });

        document.getElementById('Store').addEventListener('click', function () {

            window.location.href = '/View/Store.html';
        });
        document.getElementById('Inventory').addEventListener('click', function () {

            window.location.href = '/View/Inventory.html';
        });



    </script>

</body>
</html>